*{
    outline: 1px solid red;
 }   
.main{
    background-color: rgb(51, 51, 51);
    height: 138rem;
    width: 100%;
}
.secondmain{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.firstbox{
   
    width: 100%;
    height:5rem ;
    display: flex;
    justify-content: center;
}
.paradiv{
        
    width: 90px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
}  
.secondbox{
    
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}
video{
    width: 90%;
    height: 450px;
    color: white;
}
.thirdbox{
    
   
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    margin-left: 150px;

}
.fourthbox{
    background-color: rgb(51, 51, 51);
    width: 100%;
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.subimg1{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    

}
img{
 width: 100px;
 height: 100px;
 border-radius: 200px;
 margin-left: 180px;
}
hr{
    margin-left: 1px;
    width: 5rem;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
    height: 0.3px;
}
.mini1{
    
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    margin-right: 30px;
    width: 80%;
}
.mini2{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(64, 64, 64);
    margin-right: 30px;
    width: 80%;
}
h1,h2,h3,h4,h5,h6{
    color: white; 
   text-align: center;
    font-family: 'Raleway', sans-serif;
}
.divbutton{
    width: 40px;
    height: 3rem;
    
}
.straightline{
    color: white;
    width: 50rem;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
    height: 0.3px;
    
}

.writings{
    width: 80%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
}
.i_want_space{margin: 10px;}

.lastbox{
    width: 100%;
    height: 30rem;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    flex-direction: row;
}
.imgdiv{
    width: 60%;
    height: 30rem;
}
.map{
    width: 55%;
    height: 20rem;
    border-radius: 0;

}
.formbox{
    width: 35%;
    height: 20rem;
    background-color: palevioletred;
}
.typesomething{
    width: 70%;
    height: 12rem;
    margin-left: 10px;
    margin-top: 20px;
}

.lastline{
   
    width: 50rem;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
    height: 0.3px;
    margin-left: 250px;
    align-items: center;

}

.input1{
    height: 2rem;
    margin: 2px;
    border-color: white;
}
.input2{
    height: 2rem;
    margin: 7px;
    border-color: white;
}
.inputmessage{
    width: 22.5rem;
    height: 8rem;
    border-color: white;
}
button{
    padding: 8px;
    margin-top: 10px;
    width: 8rem;
    height: 2.5rem;
    border-color: 1px solid white;
}
.center{
    align-content: center;
}
.lol{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.final{
    text-align: center;
    color:grey;
  
    font-family: 'Raleway', sans-serif;
}
.greenfont{
    color: rgb(27, 150, 27);
    float: right;
}
.lightbluefont{
    color: rgb(46, 164, 168);
    float: right;
}
.yellowfont{
    color: yellow;
    float: right;
}
.brownfont{
    color: rgb(122, 97, 13);
    float: right;
}